<ion-view view-title=''> 
    <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-ios-arrow-back" ng-click="goback()"></a>
    </ion-nav-buttons>
  <ion-content class="has-header" >
    <div class="row topic" ng-if="finished">
      <div class="col col90">
        <h4 class="title">{{message.title}}</h4>
        <div class="summary">
          <span class="item-note" am-time-ago="message.createTime"></span>
        </div>
        <div class="topic-content" ng-bind-html="message.content">
        </div>
      </div>
    </div>  
    <ion-spinner class="topic-spinner ng-hide" ng-show="!finished" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content> 
</ion-view>
